<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Database</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                @Html.ActionLink("HR Management Panel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Employees<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/CEOs/Index">CEO</a></li>
                            <li><a href="/DeliveryDirectors/Index">Delivery Directors</a></li>
                            <li><a href="/ProjectManagers/Index">Project Manager</a></li>
                            <li class="divider"></li>
                            <li><a href="/TeamLeaders/Index">Team Leaders</a></li>
                            <li><a href="/Seniors/Index">Seniors</a></li>
                            <li><a href="/Intermediates/Index">Intermediates</a></li>
                            <li><a href="/Juniors/Index">Juniors</a></li>
                            <li><a href="/Trainees/Index">Trainees</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ^KRONIK^ Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>