@model StartupBusinessSystem.Web.ViewModels.Campaigns.RequestProfileViewModel
@{
    ViewBag.Title = "Company Profile";
}

<h2>Company Profile</h2>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-5 jumbotron">
            <h2>Company Information</h2>
            <hr/>
            <p>Name: @Model.CompanyName </p>
            <p>Identity Number: @Model.CompanyIDNumber</p>
            <p>Description: @Model.CompanyDescription</p>
            <p>Address: @Model.CompanyAddress </p>
            <p>Phone: @Model.CompanyPhone </p>            
            <p>Email: @Model.CompanyEmail </p>
        </div>
    </div>
</div>