@model StartupBusinessSystem.Web.ViewModels.Campaigns.CreateCampaignViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add new Startup</h2>
@using (Html.BeginForm("Create", "Campaigns", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()   
    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @Html.ValidationSummary(true)
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m =>m.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GoalPrice, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GoalPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.GoalPrice)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Shares, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Shares, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Shares)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add Startup" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




