@model List<HRManagerApplication.Models.TeamLeader>

<br />
<h3>Team</h3>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Project</th>
        <th>Project Manager</th>
        <th>Delivery Director</th>
        <th>CEO</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectManager.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectManager.DeliveryDirector.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectManager.DeliveryDirector.CEO.Name)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>